@model Project.Domain.Entities.Tip

@{
    ViewData["Title"] = "Create Tip";
}

<div class="row">
    <div class="col-md-6">
        <h1>Vytvořte nový tip</h1>

        <div style="margin-top: 30px;"></div>

        <form asp-action="Create" method="post">
            <div class="mb-3">
                <label class="form-label" asp-for="Name">Název tipu</label>
                <input class="form-control" asp-for="Name">
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="Text">Text tipu</label>
                <textarea class="form-control" asp-for="Text"></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="ImageSrc">Image Source</label>
                <input class="form-control" asp-for="ImageSrc">
            </div>

            <!-- You might include other properties of the Tip entity here -->

            <button type="submit" class="btn btn-primary" style="background-color: #6C5F5B">Vytvořit Tip</button>
        </form>
    </div>
</div>

<style>
    body {
        background-color: #F6F1EE;
    }
</style>