<!-- AllRecipes.cshtml -->
@model IEnumerable<Project.Domain.Entities.Recipe>

@{
    ViewData["Title"] = "All Recipes";
}

<div class="text-center">
    <h1 class="display-4">All Recipes</h1>
</div>

<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 justify-content-start">
        @foreach (var recipe in Model)
        {
            <div class="col-md-3 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="@recipe.ImageSrc" alt="..." />
                    <div class="text-center" style="background-color: #6C5F5B">
                        <h4 class="fw-bolder">
                            <a asp-action="Recipe" asp-controller="Recipe" asp-route-recipeId="@recipe.Id" style="color: #F2EAD3; text-decoration: none">@recipe.Name</a>
                        </h4>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    body {
        background-color: #F6F1EE;
    }
</style>